.animate-infinite-scroll {
    animation: scroll 5s linear infinite;
}

@media (min-width: 768px) { /* Aplica apenas em telas maiores (PC) */
    .animate-infinite-scroll {
        animation-duration: 20s; /* Altera apenas a duração */
    }
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
.animate-infinite-scroll:hover {
	animation-play-state: paused;
}
