<footer class="bg-black-primary text-white-primary pt-12 pb-8">
    <div class="container mx-auto px-4">
      <!-- Logo e Redes Sociais -->
      <div class="flex flex-col md:flex-row justify-between items-center mb-8 gap-6">
        <div class="flex items-center gap-4">
          <img src="imgs/favicon.png" alt="Logo Furia Designer" class="h-20 w-auto">
          <h3 class="text-2xl font-bold">Fúria Designer</h3>
        </div>
  
        <!-- Contato -->
        <div class="text-center md:text-right">
          <p class="text-2xl mb-4 font-bold text-gray-primary">Entre em contato!</p>
          <div class="flex flex-wrap justify-center md:justify-end gap-4">
            <a href="https://wa.me/5511980969232" class="flex items-center gap-2 hover:text-red-secundary transition-colors">
              <img src="imgs/logos/WHATSAPP.svg" alt="WhatsApp" class="h-8 w-auto">
              <span class="text-xl">WhatsApp</span>
            </a>
            <a href="mailto:furia.designer@gmail.com" class="flex items-center gap-2 hover:text-red-secundary transition-colors">
              <img src="imgs/logos/EMAIL.svg" alt="Email" class="h-8 w-auto">
              <span class="text-xl">furia.designer&#64;gmail.com</span>
            </a>
            <a href="https://www.linkedin.com/in/david-dos-santos-pereira-30/" class="flex items-center gap-2 hover:text-red-secundary transition-colors">
              <img src="imgs/logos/LINKEDIN.svg" alt="LinkedIn" class="h-8 w-auto">
              <span class="text-xl">LinkedIn</span>
            </a>
            <!-- Adicione mais redes se necessário -->
          </div>
        </div>
      </div>
  

      <div class="border-t-3 border-gray-primary pt-4 text-center text-gray-primary">
        <p>Copyright © 2025 <span class="text-white-primary">furiadesigner.com.br</span> – Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>