<div
	class="container mx-auto mt-[4rem] flex w-[70%] flex-col items-center px-4 py-12 md:flex-row">
	<div class="mb-10 md:mb-0 md:pr-8">
		<div class="mb-6 flex">
			<h1 class="text-7xl">FÚRIA DESIGNER</h1>
			<h1
				class="text-red-primary ml-4 text-7xl transition-opacity duration-300">
				ORÇAMENTO
			</h1>
		</div>

		<h2 class="text-black-primary text-lg font-semibold">
			Faça o seu orçamento conosco! É no precinho.
		</h2>
	</div>
</div>

<form
	action="https://formsubmit.co/vini.dos.s.p@gmail.com"
	method="POST"
	class="bg-black-primary mx-auto max-w-2/5 space-y-4 rounded-lg p-6 shadow-md">
	<h2
		class="mt-1 mb-10 flex justify-center px-12 text-center text-3xl font-bold text-white">
		PREENCHA PARA SOLICITAR O NOSSO SERVIÇO E JÁ TE ATENDEMOS!
	</h2>

	<div class="grid grid-cols-2 gap-x-8 gap-y-4">
		<div class="space-y-1">
			<label
				for="name"
				class="text-white-primary block text-sm font-medium hover:underline"
				>Nome Completo<span class="text-red-secundary ml-1">*</span></label
			>
			<input
				type="text"
				name="name"
				id="name"
				required
				class="border-b-red-secundary focus:border-b-red-secundary focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 focus:shadow-sm focus:outline-none" />
		</div>

		<div class="space-y-1">
			<label
				for="email"
				class="text-white-primary block text-sm font-medium hover:underline"
				>E-mail<span class="text-red-secundary ml-1">*</span></label
			>
			<input
				type="email"
				name="email"
				id="email"
				required
				class="border-b-red-secundary focus:border-b-red-secundary focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 invalid:text-red-700 focus:shadow-sm focus:outline-none" />
		</div>

		<div class="space-y-1">
			<label
				for="telefone"
				class="text-white-primary block text-sm font-medium hover:underline"
				>Telefone<span class="text-red-secundary ml-1">*</span></label
			>
			<input
				type="tel"
				name="telefone"
				id="telefone"
				required
				pattern="\(?\d{2}\)?[\s-]?\d{4,5}[\s-]?\d{4}"
				class="border-b-red-secundary focus:border-b-red-secundary focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 focus:shadow-sm focus:outline-none" />
			<p class="text-gray-primary text-xs">
				Formato: (99) 99999-9999 ou 99 9999-9999
			</p>
		</div>

		<div class="space-y-1">
			<label
				for="cargo"
				class="text-white-primary block text-sm font-medium hover:underline"
				>Cargo<span class="text-red-secundary ml-1">*</span></label
			>
			<input
				type="text"
				name="cargo"
				id="cargo"
				required
				class="border-b-red-secundary focus:border-b-red-secundary focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 focus:shadow-sm focus:outline-none" />
		</div>

		<div class="space-y-1">
			<label
				for="linkEmpresa"
				class="text-white-primary block text-sm font-medium hover:underline"
				>Link da Empresa<span class="text-red-secundary ml-1">*</span></label
			>
			<input
				type="url"
				name="linkEmpresa"
				id="linkEmpresa"
				required
				placeholder="https://"
				class="border-b-red-secundary focus:border-b-red-secundary focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 focus:shadow-sm focus:outline-none" />
		</div>

		<div class="space-y-1">
			<label
				for="service"
				class="text-white-primary block text-sm font-medium hover:underline"
				>Tipo de Serviço<span class="text-red-secundary ml-1">*</span></label
			>
			<select
				name="service"
				id="service"
				required
				class="border-b-red-secundary focus:border-b-red-secundary focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 focus:shadow-sm focus:outline-none">
				<option value="" disabled selected class="text-black-primary">
					Selecione um Serviço
				</option>
				<option
					value="Arte Finalizacao"
					class="text-black-primary font-semibold">
					Arte-Finalização
				</option>
				<option
					value="Animacao de Banners"
					class="text-black-primary font-semibold">
					Animação de Banners
				</option>
				<option
					value="Adaptacao e Desdobramento"
					class="text-black-primary font-semibold">
					Adaptação e Desdobramento
				</option>
				<option value="Social Video" class="text-black-primary font-semibold">
					Social Vídeo
				</option>
				<option value="Outro" class="text-black-primary">Outro...</option>
			</select>
		</div>
	</div>

	<div class="space-y-1">
		<label
			for="desc"
			class="text-white-primary block text-sm font-medium hover:underline"
			>Descrição do Serviço</label
		>
		<textarea
			type="text"
			name="desc"
			id="desc"
			rows="2"
			class="border-b-red-secundary focus:border-b-red-secundary focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 focus:shadow-sm focus:outline-none"></textarea>
	</div>

	<div class="flex items-start">
		<div class="flex h-5 items-center">
			<input
				type="checkbox"
				name="AceitaPolítica"
				id="AceitPolitica"
				required
				class="h-4 w-4" />
		</div>
		<div class="ml-3 text-sm">
			<label for="AceitPolitica" class="text-gray-primary font-medium">
				Aceito a política de privacidade <span class="text-gray-400">*</span>
			</label>
		</div>
	</div>

	<input type="hidden" name="_captcha" value="false" />
	<input type="hidden" name="_next" value="https://furiadesigner.com.br" />
	<input type="hidden" name="_template" value="table" />
	<input type="hidden" name="_subject" value="Novo Contato - Formulário Site" />

	<div class="flex items-center justify-center align-middle">
		<app-orce-button type="submit"> SOLICITE ORÇAMENTO </app-orce-button>
	</div>
</form>

<h2 class="text-black-primary my-14 flex justify-center text-6xl font-bold">
	ENTRE NESSA GALERIA
</h2>

<app-card-port-list> </app-card-port-list>
<div class="my-14 w-full"></div>
<app-footer></app-footer>
