<div
	class="container mx-auto mt-[4rem] flex w-[70%] flex-col items-center px-4 py-12 max-sm:mt-[2.5rem] md:flex-row">
	<div class="md:pr-8">
		<div class="mb-6 flex">
			<h1 class="text-6xl max-sm:text-center md:text-7xl">
				FÚRIA DESIGNER
				<b
					class="text-red-primary text-6xl transition-opacity duration-300 max-sm:text-center md:ml-4 md:text-7xl">
					ORÇAMENTO
				</b>
			</h1>
		</div>

		<h2 class="text-black-primary text-lg font-semibold max-sm:text-center">
			Faça o seu orçamento conosco! É no precinho.
		</h2>
	</div>
</div>

<form
	action="https://formsubmit.co/furia.designer@gmail.com"
	method="POST"
	class="bg-black-primary mx-auto space-y-4 rounded-lg p-6 shadow-md max-sm:mx-4 md:max-w-2/5"
	#contactForm
	(submit)="onSubmit($event)">
	<h2
		class="mt-1 mb-10 flex justify-center px-2 text-center text-2xl font-bold text-white md:px-12 md:text-3xl">
		PREENCHA PARA SOLICITAR O NOSSO SERVIÇO E JÁ TE ATENDEMOS!
	</h2>

	<div class="grid gap-x-8 gap-y-4 md:grid-cols-2">
		<div class="space-y-1">
			<label
				for="name"
				class="text-white-primary block text-sm font-medium hover:underline"
				>Nome Completo<span class="text-red-secundary ml-1">*</span></label
			>
			<input
				type="text"
				name="name"
				id="name"
				required
				class="border-b-red-secundary required:bg-red/50 focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 required:border-red-700 focus:shadow-sm focus:outline-none" />
		</div>

		<div class="space-y-1">
			<label
				for="email"
				class="text-white-primary block text-sm font-medium hover:underline"
				>E-mail<span class="text-red-secundary ml-1">*</span></label
			>
			<input
				type="email"
				name="email"
				id="email"
				required
				class="border-b-red-secundary required: focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 required:border-red-700 invalid:text-red-700 focus:shadow-sm focus:outline-none" />
		</div>

		<div class="space-y-1">
			<label
				for="telefone"
				class="text-white-primary block text-sm font-medium hover:underline"
				>Telefone<span class="text-red-secundary ml-1">*</span></label
			>
			<input
				type="tel"
				name="telefone"
				id="telefone"
				required
				pattern="\(?\d{2}\)?[\s-]?\d{4,5}[\s-]?\d{4}"
				class="border-b-red-secundary required:bg-red/50 focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 required:border-red-700 focus:shadow-sm focus:outline-none" />
			<p class="text-gray-primary text-xs">
				Formato: (99) 99999-9999 ou 99 9999-9999
			</p>
		</div>

		<div class="space-y-1">
			<label
				for="cargo"
				class="text-white-primary block text-sm font-medium hover:underline"
				>Cargo<span class="text-red-secundary ml-1">*</span></label
			>
			<input
				type="text"
				name="cargo"
				id="cargo"
				required
				class="border-b-red-secundary required:bg-red/50 focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 required:border-red-700 focus:shadow-sm focus:outline-none" />
		</div>

		<div class="space-y-1">
			<label
				for="service"
				class="text-white-primary block text-sm font-medium hover:underline"
				>Tipo de Serviço<span class="text-red-secundary ml-1">*</span></label
			>
			<select
				name="service"
				id="service"
				required
				class="border-b-red-secundary required:bg-red/50 focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 required:border-red-700 focus:shadow-sm focus:outline-none">
				<option value="" disabled selected class="text-black-primary">
					Selecione um Serviço
				</option>
				<option
					value="Arte Finalizacao"
					class="text-black-primary font-semibold">
					Arte-Finalização
				</option>
				<option
					value="Animacao de Banners"
					class="text-black-primary font-semibold">
					Animação de Banners
				</option>
				<option
					value="Adaptacao e Desdobramento"
					class="text-black-primary font-semibold">
					Adaptação e Desdobramento
				</option>
				<option value="Social Video" class="text-black-primary font-semibold">
					Social Vídeo
				</option>
				<option value="Outro" class="text-black-primary">Outro...</option>
			</select>
		</div>

		<div class="space-y-1">
			<label
				for="linkEmpresa"
				class="text-white-primary block text-sm font-medium hover:underline"
				>Link da Empresa</label
			>
			<input
				type="url"
				name="linkEmpresa"
				id="linkEmpresa"
				placeholder="https://"
				class="border-b-red-secundary required:bg-red/50 focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 required:border-red-700 focus:shadow-sm focus:outline-none" />
		</div>
	</div>

	<div class="space-y-1">
		<label
			for="desc"
			class="text-white-primary block text-sm font-medium hover:underline"
			>Descrição do Serviço</label
		>
		<textarea
			type="text"
			name="desc"
			id="desc"
			rows="2"
			class="border-b-red-secundary required:bg-red/50 focus:shadow-red-secundary w-full rounded-sm border-b-4 px-3 py-2 text-gray-300 required:border-red-700 focus:shadow-sm focus:outline-none"></textarea>
	</div>

	<input type="hidden" name="_captcha" value="false" />
	<input type="hidden" name="_template" value="table" />
	<input type="hidden" name="_subject" value="Novo Contato - Formulário Site" />
	<input type="hidden" name="_next" value="https://furiadesigner.com.br" />

	<div class="mt-2 flex flex-col items-center justify-center align-middle">
		@if (!isValid) {
			<span
				class="mb-4 text-center text-gray-300 italic underline underline-offset-4"
				>ESTÁ FALTANDO PARTE DO FORMULÁRIO PARA SOLICITAR!
			</span>
		}
		<button
			type="submit"
			[disabled]="isLoading"
			class="bg-red-primary hover:bg-red-secundary flex h-12 w-max cursor-pointer items-center justify-center rounded-sm px-4 py-2 text-white transition">
			@if (isLoading) {
				<span class="font-bold">ENVIANDO...</span>
			} @else {
				<span class="font-bold">SOLICITE ORÇAMENTO</span>
			}
		</button>
	</div>
</form>

<app-confirm-modal [isVisible]="showSuccessModal" (closed)="closeModal()">
</app-confirm-modal>

<h2
	class="text-black-primary my-14 flex justify-center text-6xl font-bold max-sm:text-center max-sm:text-4xl">
	ENTRE NESSA GALERIA
</h2>

<app-card-port-list> </app-card-port-list>
<div class="my-4 w-full md:my-14"></div>
<app-footer></app-footer>
