<footer class="bg-black-primary text-white-primary pt-12 pb-8">
	<div class="container mx-auto px-4">
		<div
			class="mb-8 flex flex-col items-center justify-between gap-6 md:flex-row">
			<div class="flex items-center gap-4">
				<img
					src="imgs/favicon white.png"
					alt="Logo Furia Designer"
					class="h-20 w-auto" />
				<h3 class="text-2xl font-bold">Fúria Designer</h3>
			</div>

			<div class="text-center md:text-right">
				<p class="text-gray-primary mb-4 text-2xl font-bold">
					Entre em contato!
				</p>
				<div class="flex flex-wrap justify-center gap-4 md:justify-end">
					<a
						href="https://wa.me/5511980969232"
						class="hover:text-red-secundary flex items-center gap-2 transition-colors">
						<img
							src="imgs/logos/WHATSAPP.svg"
							alt="WhatsApp"
							class="h-8 w-auto" />
						<span class="text-xl">WhatsApp</span>
					</a>
					<a
						href="mailto:furia.designer@gmail.com"
						class="hover:text-red-secundary flex items-center gap-2 transition-colors">
						<img src="imgs/logos/EMAIL.svg" alt="Email" class="h-8 w-auto" />
						<span class="text-xl">furia.designer&#64;gmail.com</span>
					</a>
					<a
						href="https://www.linkedin.com/in/david-dos-santos-pereira-30/"
						class="hover:text-red-secundary flex items-center gap-2 transition-colors">
						<img
							src="imgs/logos/LINKEDIN.svg"
							alt="LinkedIn"
							class="h-8 w-auto" />
						<span class="text-xl">LinkedIn</span>
					</a>
				</div>
			</div>
		</div>

		<div
			class="border-gray-primary text-gray-primary border-t-3 pt-4 text-center">
			<p>
				Copyright © 2025
				<span class="text-white-primary">furiadesigner.com.br</span> – Todos os
				direitos reservados.
			</p>
		</div>
	</div>
</footer>
