<section class="min-h-screen">
	<div
		class="container mx-auto w-[70%] mt-[4rem] px-4 py-12 md:py-24 flex flex-col md:flex-row items-center">
		<div class="md:w-1/2 mb-10 md:mb-0 md:pr-8">
			<div class="flex mb-6">
				<h1 class="text-7xl">FÚRIA É</h1>
				<h1
					class="text-7xl text-red-primary ml-4 transition-opacity duration-300">
					DESIGNER
				</h1>
			</div>

			<h2 class="text-lg text-black-primary font-semibold mb-10">
				Especialista em desdobramento de campanhas e criação de banners
				animados.
			</h2>
			<p class="text-base text-justify text-black-primary font-semibold mb-6">
				Na correria do marketing digital, cada segundo conta — e cada peça
				precisa comunicar com precisão. Somos uma agência especializada em
				desdobrar campanhas com inteligência visual, adaptando suas peças para
				os mais diversos formatos, plataformas e públicos. Combinamos agilidade,
				criatividade e atenção aos detalhes para entregar suas peças conforme a
				campanha ou sua identidade visual. Do conceito ao clique, cuidamos de
				tudo para que sua marca esteja sempre em movimento.
			</p>

			<p class="text-base text-justify text-black-primary font-semibold mb-16">
				<span class="flex">Precisa adaptar uma campanha?</span> Criar variações
				para mídia programática, redes sociais ou portais? Fale com a gente.
				Somos especialistas em transformar o conteúdo certo no formato ideal —
				com animações que chamam atenção e mantêm a consistência da sua marca.
			</p>

			<div class="flex flex-col sm:flex-row gap-4">
				<app-orce-button href="/budget"> CRIE SEU ORÇAMENTO </app-orce-button>
			</div>
		</div>

		<div class="md:w-1/2 flex justify-end">
			<img
				src="imgs/favicon.png"
				alt="Logo da Empresa"
				class="w-full max-w-md lg:max-w-lg xl:max-w-xl animate-float" />
		</div>
	</div>

	<section class="relative pt-3 mt-[1%]">
		<div class="absolute inset-0 bg-black-primary z-0 h-[62rem]"></div>

		<div class="relative z-10 container mx-auto px-4">
			<app-logo-carousel class="flex justify-center h-32" />

			<h2 class="flex justify-center text-white text-6xl font-bold mt-8 mb-10">
				DESBLOQUEIE TODO O PODER DE PRODUÇÃO
			</h2>

			<app-card-pop-list class="flex justify-center my-[7rem]" />

			<h2
				id="objetivo"
				class="flex justify-center text-white text-6xl font-bold mb-10">
				GANHE PRODUTIVIDADE EM SUA AGÊNCIA
			</h2>

			<section class="container w-full py-12 px-4">
				<div class="max-w-[87%] mx-auto">
					<div class="flex flex-col md:flex-row gap-[16rem] w-full">
						<div class="md:w-1/2">
							<img
								src="imgs/jobdemo.png"
								alt="Img produto"
								class="w-full h-auto object-cover rounded-lg shadow-md hover:shadow-xl transition-all duration-500" />
						</div>

						<div class="md:w-1/2 space-y-4">
							<h2 class="text-2xl md:text-3xl font-bold text-white-primary">
								Reduza Custos <br />
								Sem perder Qualidade.
							</h2>

							<p class="text-white-primary leading-relaxed">
								Terceirize seus desdobramentos com agilidade e economia. Deixe
								sua equipe focada na criação e deixe o trabalho repetitivo com a
								gente. Somos especialistas em desdobrar peças para todos os
								formatos, com qualidade, rapidez e custos muito mais baixos que
								manter tudo internamente. Mais tempo, menos gastos e campanhas
								entregues no prazo.
							</p>

							<div class="flex flex-wrap gap-4 pt-4">
								<app-orce-button href="/budget">
									CRIE SEU ORÇAMENTO
								</app-orce-button>

								<a
									href="/portfolio"
									class="flex align-middle items-center px-6 py-2 text-red-primary rounded-md transition-colors cursor-pointer">
									Saiba Mais
									<img
										src="imgs/MoreInfoArrow.svg"
										alt="arrow"
										class="w-2 ml-2" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="container w-full py-12 px-4">
				<div class="max-w-[87%] mx-auto">
					<div class="flex flex-col md:flex-row gap-[16rem] w-full">
						<div class="md:w-1/2 space-y-4">
							<h2 class="text-2xl md:text-3xl font-bold text-black-primary">
								Destaque sua <br />
								Marca com Design versátil
							</h2>

							<p class="text-black-primary leading-relaxed">
								Na comunicação visual, a variação de dimensões dos seus produtos
								é essencial para fortalecer a identidade da sua marca.
								Logotipos, banners e artes adaptáveis garantem visibilidade em
								qualquer plataforma – desde redes sociais até materiais
								impressos. Um design gráfico bem dimensionado transmite
								profissionalismo, consistência e impacto, captando a atenção do
								seu público em todos os formatos. Design que se ajusta, marca
								que se destaca!
							</p>

							<div class="flex flex-wrap gap-4 pt-4">
								<app-orce-button href="/budget">
									CRIE SEU ORÇAMENTO
								</app-orce-button>

								<a
									href="/porfolio"
									class="flex align-middle items-center px-6 py-2 text-red-primary rounded-md transition-colors cursor-pointer">
									Saiba Mais
									<img
										src="imgs/MoreInfoArrow.svg"
										alt="arrow"
										class="w-2 ml-2" />
								</a>
							</div>
						</div>
						<div class="md:w-1/2">
							<img
								src="imgs/jobdemo2.png"
								alt="Img produto"
								class="w-full h-auto object-cover rounded-lg shadow-md hover:shadow-xl transition-all duration-500" />
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>
</section>

<section class="relative pt-3 mt-[1%]">
	<div class="absolute inset-0 bg-black-primary z-0 h-[52rem]"></div>

	<div class="relative z-10 container mx-auto px-4">
		<h2
			id="sobre"
			class="flex justify-center text-white text-6xl font-bold mt-12 mb-16">
			SOBRE O QUE FAZEMOS E QUE VOCÊ PRECISA
		</h2>

		<app-slide-info class="min-w-full"></app-slide-info>
	</div>

	<section class="mt-32">
		<h2
			id="vitrine"
			class="flex justify-center text-black-primary text-6xl font-bold">
			VEJA O NOSSO PORTFÓLIO
		</h2>

		<div class="flex justify-center my-[3rem]">
			<app-orce-button href="/portfolio">IR PARA O PORTFÓLIO</app-orce-button>
		</div>

		<app-card-port-list class="flex justify-center"> </app-card-port-list>

		<h2
			id="feedbacks"
			class="flex justify-center text-black-primary text-6xl font-bold my-[8rem]">
			O QUE AS LENDAS DIZEM SOBRE NÓS
		</h2>

		<app-card-feedback-list></app-card-feedback-list>
	</section>

	<app-footer id="contato"></app-footer>
</section>
