<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

@for (cardPort of cardsPort; track cardPort.id) {

<div
  (click)="openModal(cardPort)"
  class="w-[25rem] rounded-sm hover:scale-[101%] transition-transform duration-500 cursor-pointer"
>
  <img
    [src]="cardPort.images[0]"
    alt="icon-card-pop"
    class="size-[25rem] rounded-lg object-cover shadow-md"
  />
  <div class=" py-4 pr-4">
    <h3 class="text-black-primary text-2xl font-bold mb-2">
      {{ cardPort.title }}
    </h3>
    <h4 class="text-black-primary text-sm font-semibold mb-1">
      {{ cardPort.topic }}
    </h4>
    <span class="text-red-primary text-xs font-extrabold">
      {{ cardPort.year }}
    </span>
  </div>
</div>
}

<app-product-view-modal
	[isOpen]="modalOpen" 
	(closed)="modalOpen = false"
	[cardsPortImages]="selectedCardsPort?.images || []"
	[cardsPortTitle]="selectedCardsPort?.title || ''"
	[cardsPortYear]="selectedCardsPort?.year || ''">
</app-product-view-modal>