<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

@for (cardPort of cardsPort; track cardPort.id) {
	<div
		(click)="openModal(cardPort)"
		class="w-[20rem] cursor-pointer rounded-sm transition-all duration-500 hover:scale-[101%] hover:brightness-105 md:w-[25rem]">
		<img
			[src]="cardPort.images[1]"
			alt="icon-card-pop"
			class="size-[20rem] rounded-lg object-cover shadow-md md:size-[25rem]" />
		<div class="py-4 pr-4">
			<h3
				class="text-black-primary mb-2 text-xl font-bold max-sm:text-justify md:text-2xl">
				{{ cardPort.title }}
			</h3>
			<h4 class="text-gray-primary mb-1 text-sm font-semibold">
				| {{ cardPort.topic }}
			</h4>
			<span class="text-red-primary text-xs font-extrabold">
				{{ cardPort.year }}
			</span>
		</div>
	</div>
}

<app-product-view-modal
	[isOpen]="modalOpen"
	(closed)="modalOpen = false"
	[cardsPortImages]="selectedCardsPort?.images || []"
	[cardsPortTitle]="selectedCardsPort?.title || ''"
	[cardsPortTopic]="selectedCardsPort?.topic || ''"
	[cardsPortYear]="selectedCardsPort?.year || ''">
</app-product-view-modal>
