<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

@for (cardPort of cardsPort; track cardPort.id) {

<div (click)="openModal(cardPort)"
	class="flex w-[25rem] items-center justify-center rounded-sm transition-all duration-500 hover:scale-[101%]">
	<div>
		<img
			[src]="cardPort.images[0]"
			alt="icon-card-pop "
			class="size-[25rem] rounded-lg object-cover transition-all hover:shadow-lg" />
		<h3
			class="text-black-primary cursos-pointer my-4 text-2xl font-bold">
			{{ cardPort.title }}
		</h3>
		<span class="text-red-primary text-base font-extrabold">{{ cardPort.year }}</span>
	</div>
</div>
}

<app-product-view-modal
	[isOpen]="modalOpen" 
	(closed)="modalOpen = false"
	[cardsPortImages]="selectedCardsPort?.images || []"
	[cardsPortTitle]="selectedCardsPort?.title || ''"
	[cardsPortYear]="selectedCardsPort?.year || ''">
</app-product-view-modal>