<div
	class="flex flex-col justify-between items-center rounded-sm w-[23rem] h-[35rem] shadow-2xl px-12 hover:scale-[102%] hover:shadow-md hover:shadow-red-secundary-opc transition-all duration-500">
	<img
		[src]="iconLogoCard"
		alt="icon-card-pop "
		class="size-[8rem] object-contain" />
	<h3 class="text-black-primary text-3xl font-bold my-4 text-center">
		{{ feedbackTextCard }}
	</h3>

	<div class="flex gap-4 w-full justify-start py-6 items-center">
		<img [src]="iconPersonCard" alt="icon-card-pop " class="size-[5rem]" />
		<h3 class="text-gray-primary text-lg font-bold">
			{{ ProfessionPersonCard }}
		</h3>
	</div>
</div>
