.animate-infinite-scroll {
  animation: scroll 25s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* .animate-infinite-scroll:hover {
    animation-play-state: paused;
  } */
