<nav
	[class]="
		'fixed top-0 right-0 left-0 z-30 transition-all duration-300 ' +
		(isVisible ? 'translate-y-0' : '-translate-y-full')
	"
	[class.bg-white]="isScrolled"
	[class.shadow-md]="isScrolled">
	<div
		class="container mx-auto flex items-center justify-between px-4 py-3 lg:w-[70%]">
		<div class="flex items-center">
			<a href="" class="flex items-center">
				<img
					src="/imgs/favicon.png"
					alt="logo fúria designer"
					class="h-12 object-cover" />
			</a>

			<div class="ml-3 flex md:space-x-8 space-x-4">
				<div class="flex md:space-x-8 space-x-4 max-[60rem]:hidden">
					<div class="flex md:space-x-8 space-x-4 max-[85rem]:hidden">
						@if (router.url === "/") {
							<button (click)="scrollTo('objetivo')" class="links-desk">
								Objetivo
							</button>
						}
					</div>
					@if (router.url === "/") {
						<button (click)="scrollTo('sobre')" class="links-desk">
							Sobre
						</button>
					}
					<div class="flex md:space-x-8 space-x-4 max-[90rem]:hidden">
						@if (router.url === "/") {
							<button (click)="scrollTo('vitrine')" class="links-desk">
								Vitrine
							</button>
						}
					</div>
					<div class="flex md:space-x-8 space-x-4 max-[73rem]:hidden">
						@if (router.url === "/") {
							<button (click)="scrollTo('feedbacks')" class="links-desk">
								Feedbacks
							</button>
						}
					</div>
					@if (router.url === "/") {
						<button (click)="scrollTo('contato')" class="links-desk">
							Contato
						</button>
					}
				</div>
				<!-- <div class="max-[35rem]:hidden flex"> -->
				@if (router.url !== "/") {
					<a href="" class="links-desk">Home</a>
				}
				<!-- </div> -->

				<svg class="bg-black-primary h-7 w-1 max-[39rem]:hidden"></svg>
				@if (router.url !== "/portfolio") {
					<a href="portfolio" class="links-desk">Portfólio</a>
				}
				@if (router.url !== "/budget") {
					<a href="budget" class="links-desk">Orçamento</a>
				}
			</div>
		</div>

		<div class="flex gap-8">
			<a class="flex items-center max-[98rem]:hidden">
				<img
					src="/imgs/changelanguage.svg"
					alt="change language"
					class="h-4 object-cover" />
			</a>

			<app-orce-button
				href="/budget"
				class="max-[25rem]:text-xs max-[23rem]:hidden">
				<span class="mr-1.5 font-bold max-[47rem]:hidden">CRIE SEU</span
				>ORÇAMENTO
			</app-orce-button>
		</div>
	</div>
</nav>
